<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.Appium.TestUtills.Listener"></listener>
	</listeners>
  <test thread-count="5" name="EndToEndTesting">
    <classes>
      <class name="Appium.practice.Endtoend"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
